@font-face {
  font-family: MedievalSharp;
  src: url(/static/fonts/MedivalSharp.ttf);
}

:root {
  --mainFont: MedievalSharp;
}

.info-container {
  margin-top: 100px;
}

.titulo {
  padding: 20px;
  font-family: var(--mainFont);
  font-weight: bolder;
}
